{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" rel="stylesheet" />

<script type="text/javascript">
$(document).on('ready', function () {
  $(".regular").slick({
    dots: true,
    autoplay: true,
    slidesToShow: 1,
    arrows: true,
    slidesToScroll: 1
  });
});
</script>
{% endblock %}

{% block styles %}
{% endblock %}

{% block main %}
<section class="regular slider">
  <div>
    <img src="{{ asset("build/images/dream-league-soccer.jpg")}}">
  </div>
  <div>
    <img src="{{ asset("build/images/image2.jpg")}}">
  </div>
  <div>
    <img src="{{ asset("build/images/powerade_mobile.jpg")}}">
  </div>
  <div>
    <img src="{{ asset("build/images/image2.jpg")}}">
  </div>
</section>

<div class="container-news">
  <div class="row">
    <div class="col l12 s12 m12">
      <h4>LES ACTUALITÉS
        <strong>
          SOCCER FIVE
        </strong>
      </h4>
      <hr>
      <div class="">
        <div class="col s12 l4">
          <div class="card">
            <div class="card-image">
              <img src="{{ asset("build/images/ballon.jpg") }}" alt="">
              <span class="card-title">Cup World</span>
            </div>
            <!-- <div class="card-content">
          </div> -->
          <div class="card-action">
            <a href="#">Open register <i class="material-icons ">chevron_right</i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card">
        <div class="card-image">
          <img src="{{ asset("build/images/ballon.jpg") }}" alt="">
          <span class="card-title">Cup World</span>
        </div>
        <div class="card-action">
          <a href="#">Open register <i class="material-icons ">chevron_right</i></a>
        </div>
      </div>
    </div>
    <div class="col s12 l4">
      <div class="card ">
        <div class="card-image">
          <img src="{{ asset("build/images/ballon.jpg") }}" alt="">
          <span class="card-title">Cup World</span>
        </div>
        <div class="card-action">
          <a href="#">Open register <i class="material-icons ">chevron_right</i></a>
        </div>
        <!-- <div class="card-content"></div> -->
      </div>
    </div>
  </div>
  <div class="col s12 l4">
    <div class="card ">
      <div class="card-image">
        <a href="#">
          <img src="{{ asset("build/images/powerade_mobile.jpg") }}" alt="">
        </a>
        <!-- <span class="card-title">Cup World</span> -->
      </div>
      <!-- <div class="card-action">
      <a href="#">Open register <i class="material-icons ">chevron_right</i></a>
    </div> -->
  </div>
</div>
<div class="col s12 l4">
  <div class="card">
    <div class="card-image">
      <img src="{{ asset("build/images/ballon.jpg") }}" alt="">
      <!-- <span class="card-title">Cup World</span> -->
    </div>
    <!-- <div class="card-action"> -->
    <!-- <a href="#">Open register <i class="material-icons ">chevron_right</i></a> -->
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock  %}
