<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,400i,500,600,700,700i&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('build/app.css') }}">
  <link rel="icon" type="image/x-icon" href=""/>
  <title>{% block title %}SoccerFive{% endblock %}</title>
  {% block stylesheets %}
  <style lang="scss" scoped="true">
  nav {
    background-color:#ecf0f1
  }
  nav a {
    color:#2c3e50!important;
    text-align: center;
  }
  nav i {
    color: #f39c12
  }
  </style>
  {% endblock %}
</head>
<body>
  {% block preJavascripts %}{% endblock %}
  {% block noscript %}
  <noscript>
    <div class="center">
      <p>
        <i class="fa fa-info-circle"></i> Ce site a besoin de JavaScript pour fonctionner.
        <a href='http://enable-javascript.com/fr/' target="_blank" title='Activer Javascript dans votre navigateur'>
          Comment et pourquoi activer JavaScript ?
        </a>
      </p>
    </div>
  </noscript>
  {% endblock %}
  {% block nav %}
  {% set path = app.request.pathinfo %}
  <nav class="logo-nav">
    <div class="nav-wrapper black">
      <a href="" class="brand-logo center"> <img src="{{ asset("build/images/soccerfive-logo-.png") }}" alt=""> </a>
    </div>
  </nav>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <!-- <div class="navbar-fixed"> -->
    <nav>
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#">
              <i class="material-icons">home</i>
            </a>
          </li>
          <li><a href="badges.html">NEWS</a></li>
          <li><a href="collapsible.html">FOOT</a></li>
          <li><a href="mobile.html">LEAGUES</a></li>
          <li><a href="mobile.html">KIDS</a></li>
          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1">
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li>
          <li class="orange"><a href="mobile.html">BOOKING</a></li>
        </ul>
      </div>
    </nav>
  <!-- </div> -->

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">HOME</a></li>
    <li><a href="badges.html">NEWS</a></li>
    <li><a href="collapsible.html">FOOT</a></li>
    <li><a href="mobile.html">LEAGUES</a></li>
    <li><a href="mobile.html">KIDS</a></li>
  </ul>
  {% endblock %}
  <main>
    {% block main %}{% endblock %}
  </main>

  {% block footer %}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="partenaire-container col l12 s12">
          <ul>
            <li><a href="#">
              <img src="{{asset('build/images/image001.png')}}" alt=""></li>
            </a>
            <li>
              <a href="#">
                <img src="{{asset('build/images/logo_full_size.png')}}" alt=""></li>
              </a>
              <li>
                <a href="#">
                  <img src="{{asset('build/images/logo.png')}}" alt=""></li>
                </a>
              </ul>
              <hr>
            </div>
            <div class="col l6 s12">
              <h5 class="white-text">SoccerFive</h5>
              <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l3 s12">
              <h5 class="white-text">Site map</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">news</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Activity</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Video</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
              </ul>
            </div>
            <div class="container-shared col l3 s12">
              <h5 class="white-text">Shared :</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-facebook"></i></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-twitter-square"></i></a></li>
                <li><a class="grey-text text-lighten-3" href="#!"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            © 2019 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">CodeDesign</a>
          </div>
        </div>
      </footer>
      {% endblock %}
      <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
      <script src="{{ asset('build/app.js') }}"></script>
      {% block javascripts %}
      {% endblock %}
    </body>
    </html>
